<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IdentityDbConnection" connectionString=""
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Origins" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Issuer" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Audiences" value="deep-purple-api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AudienceSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExpirationMinutes" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>