<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString=""
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Issuer" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Audiences" value="deep-purple-api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AudienceSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!-- customErrors - Turn on custom error pages instead of ASP.NET errors containing stack traces which are a security risk. -->
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
    <!-- compilation - Turn off debug compilation. -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- trace - Turn off tracing, just in case it is turned on for debugging. -->
    <trace xdt:Transform="Remove" />
  </system.web>
  <system.webServer>
    <!-- dynamicCompressionBeforeCache - This is set to false in Debug mode to enable Browser Link to work when debugging.
                                         The value is set to true in Release mode (See web.Release.config). -->
    <urlCompression xdt:Transform="SetAttributes(dynamicCompressionBeforeCache)"
                    dynamicCompressionBeforeCache="true"/>
    <!-- remove TraceHandler-Integrated - Remove the tracing handlers so that navigating to /trace.axd gives us a 
         404 Not Found instead of 500 Internal Server Error. -->
    <handlers>
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated" />
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated-4.0" />
    </handlers>
    <!-- existingResponse="Replace" - Replace any error responses with custom error pages. -->
    <httpErrors xdt:Transform="SetAttributes(existingResponse)" existingResponse="Replace"/>
  </system.webServer>
  <!-- glimpse - Turn off glimpse. -->
  <glimpse xdt:Transform="SetAttributes(defaultRuntimePolicy)"
           defaultRuntimePolicy="Off"/>
</configuration>