<div class="panel panel-info">
    <div class="panel-heading clearfix">
        <h4 class="pull-left"><span class="text-uppercase">{{property.state|propertyStatus}}</span> <span class="text-lowercase">{{property.type|propertyType}}</span> by {{property.owner}}</h4>
        <div class="btn-toolbar">
            <button class="btn btn-success pull-right" ng-click="propertySelected({property: property})"><i class="fa fa-share"></i> Open</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-show="property.imageInfos && property.imageInfos.length>0 && property.imageInfos[0].uri" class="col-sm-4">
                <a ng-click="propertySelected({property: property})">
                    <img class="img-responsive" ng-src="{{property.imageInfos[0].uri}}" alt="{{property.imageInfos[0].title}}" />
                    <div ng-hide="!property.imageInfos[0].title" class="carousel-caption">
                        <p>{{property.imageInfos[0].title}}</p>
                    </div>
                </a>
            </div>
            <div ng-class="property.imageInfos && property.imageInfos.length>0 && property.imageInfos[0].uri? 'col-sm-8':'col-xs-12'">
                <label>Description</label>
                <p>{{property.description}}</p>
                <label># of bedrooms</label>
                <p>{{property.bedrooms}}</p>
                <label>Price</label>
                <p><span class="bold-text"><i class="fa fa-gbp"></i>{{property.price}}</span></p>
                <label>Address</label>
                <p>{{property.address}}</p>
            </div>
        </div>
    </div>
</div>