<div>
    <uib-carousel class="top-carousel hidden-xs" interval="5000">
        <uib-slide>
            <img class="img-responsive" ng-src="https://cdn1.momondo.net/s-1/destinations/1920-cb/BUD-001.jpg" alt="View of Budapest" />
            <div class="carousel-caption">
                <h1>Deep Purple is awesome!</h1>
                <span class="text-info">Although maybe not as much as Led Zeppelin... ;)</span>
            </div>
        </uib-slide>
        <uib-slide>
            <img class="img-responsive" ng-src="https://cdn1.momondo.net/s-1/destinations/1920-cb/BHX-001.jpg" alt="View of Birmingham" />
            <div class="carousel-caption">
                <h1>Want to sell a property?</h1>
                <span class="text-info">Register as a Seller and post a new listing.</span>
            </div>
        </uib-slide>
        <uib-slide>
            <img class="img-responsive" ng-src="https://cdn1.momondo.net/s-1/destinations/1920-cb/NYC-001.jpg" alt="View of New York" />
            <div class="carousel-caption">
                <h1>Looking for a property to buy?</h1>
                <span class="text-info">Register as a Buyer and start looking for the right one.</span>
            </div>
        </uib-slide>
    </uib-carousel>
    <div class="row">
        <div class="col-sm-2">
            &nbsp;
        </div>
        <div class="col-sm-4">
            <h2>Already a user?</h2>
            <p class="text-primary">Jump into the action.</p>
            <p><a class="btn btn-primary" href="/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>New to the site?</h2>
            <p class="text-primary">Register as a seller or buyer.</p>
            <p><a class="btn btn-primary" href="/register/seller" role="button">Register as Seller &raquo;</a></p>
            <p><a class="btn btn-primary" href="/register/buyer" role="button">Register as Buyer &raquo;</a></p>
        </div>
        <div class="col-sm-2">
            &nbsp;
        </div>
    </div>
</div>