<div ng-if-in-role="'Seller'" ng-controller="sellerUserController as sellerUserCtrl">
    <div ng-controller="bidListController as bidListCtrl">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="pull-left">Recent bids</h3>
                <div class="btn-toolbar">
                    <button class="btn btn-info pull-right" ng-click="bidListCtrl.refreshList(true, true)" title="Refresh list of incoming bids"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="panel-body bids-panel">
                <bid-summary ng-repeat="bid in bidListCtrl.bids" bid="bid" readonly="false" bid-accept="sellerUserCtrl.acceptBid(bid)" bid-reject="sellerUserCtrl.rejectBid(bid)"></bid-summary>
            </div>
        </div>
    </div>
    <div ng-controller="propertyListController as ownPropertyListCtrl">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="pull-left">Your open listings</h3>
            </div>
            <div class="panel-body properties-panel">
                <property-summary ng-repeat="property in ownPropertyListCtrl.properties" property="property" property-selected="sellerUserCtrl.propertySelected(property)"></property-summary>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-primary pull-right" ng-click="sellerUserCtrl.addProperty()" title="Add property"><i class="fa fa-plus"></i> Add listing</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if-in-role="'Buyer'" ng-controller="buyerUserController as buyerUserCtrl">
    <div ng-controller="bidListController as bidListCtrl">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="pull-left">Your relevant bids</h3>
                <div class="btn-toolbar">
                    <button class="btn btn-info pull-right" ng-click="bidListCtrl.refreshList(true, false)" title="Refresh list of bids posted by you"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="panel-body bids-panel">
                <bid-summary ng-repeat="bid in bidListCtrl.bids" bid="bid" readonly="true"></bid-summary>
            </div>
        </div>
    </div>
    <div ng-controller="propertyListController as propertyListCtrl">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="pull-left">Available properties</h3>
                <div class="btn-toolbar">
                    <button class="btn btn-info pull-right" ng-click="propertyListCtrl.refreshList(false)" title="Refresh list of available properties"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="well">
                    <form id="propertyFilterForm">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="type">Type of property</label>
                                        <select id="type" class="form-control" ng-model="propertyListCtrl.filter.type" ng-options="value.id as value.label for value in [{id:null, label:'Any'},{id:0, label:'Flat'},{id:1, label:'House'}]"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="minBedrooms">Minimum # of bedrooms</label>
                                        <input id="minBedrooms" type="number" class="form-control" ng-model="propertyListCtrl.filter.minBedrooms" min="0"></input>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="minPrice">Minimum price <i class="fa fa-gbp"></i></label>
                                        <input id="minPrice" type="number" class="form-control" ng-model="propertyListCtrl.filter.minPrice" min="0" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="maxPrice">Maximum price <i class="fa fa-gbp"></i></label>
                                        <input id="maxPrice" type="number" class="form-control" ng-model="propertyListCtrl.filter.maxPrice" min="{{propertyListCtrl.filter.minPrice}}" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input id="address" type="text" class="form-control" ng-model="propertyListCtrl.filter.address" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="btn-toolbar">
                                <button class="btn btn-info pull-right" ng-disabled="!propertyListCtrl.filterIsDirty" ng-click="propertyListCtrl.refreshList(false)" title="Refresh list of available properties"><i class="fa fa-refresh">Apply</i></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="properties-panel">
                    <property-summary ng-repeat="property in propertyListCtrl.properties" property="property" property-selected="buyerUserCtrl.propertySelected(property)"></property-summary>
                </div>
            </div>
        </div>
    </div>
</div>